header {
    width: 100%;
    display: flex;

    box-shadow: 8px 3px 45px -30px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 8px 3px 45px -30px rgba(0, 0, 0, 1);
    -moz-box-shadow: 8px 3px 45px -30px rgba(0, 0, 0, 1);
}

#home-icon {
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    header {
        height: 62px;

        box-shadow: 8px 3px 57px -26px rgba(0, 0, 0, 1);
        -webkit-box-shadow: 8px 3px 57px -26px rgb(0, 0, 0);
        -moz-box-shadow: 8px 3px 575px -26px rgba(0, 0, 0, 1);
    }
    #home-icon {
        width: 4rem;
        height: 4rem;
    }

    #menu-burger {
        width: 30px;
        height: 30px;
        margin-top: 16px;
    }
}