#grilla {
    width: 28rem;
    height: 28rem;
    margin: 1.5rem auto;
    display: grid;
    grid-template-columns: repeat(3, 9rem);
    grid-template-rows: repeat(3, 9rem);
    gap: 0.5rem;
    background-color: var(--color-3);
}

.cuadrado {
    max-width: 100%;
    max-height: 100%;
    background-color: var(--color-1);
    text-align: center;
    font-size: 100px;
    line-height: 140px;
    font-weight: 600;
    cursor: pointer;
    text-shadow: 7px 3px 11px rgba(0, 0, 0, 0.42);
    box-shadow: 8px 3px 12px -30px rgba(0, 0, 0, 0.25)inset;
    -webkit-box-shadow: 8px 3px 12px -30px rgba(0, 0, 0, 0.25)inset;
    -moz-box-shadow: 8px 3px 12px -30px rgba(0, 0, 0, 0.25)inset;
}

.color-jugador-uno {
    color: var(--color-2);
}

.color-jugador-dos {
    color: var(--color-5);
}

#div-jugadores {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-around;
    align-items: center;
}

.div-jugador {
    height: 180px;
    padding: 1rem 2rem;
    flex-basis: 280px;
    min-width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    border-radius: 120px;
    box-shadow: 8px 3px 61px -30px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 8px 3px 61px -30px rgba(0, 0, 0, 1);
    -moz-box-shadow: 8px 3px 61px -30px rgba(0, 0, 0, 1);
    transition: box-shadow 0.2s ease-out;
}

.div-jugador-actual {
    box-shadow: 0px 0px 59px 8px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 59px 8px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 59px 8px rgba(0, 0, 0, 0.6);
}

#divJugador_1 {
    background-color: transparent;
    color: var(--color-2);

}

#divJugador_2 {
    background-color: transparent;
    color: var(--color-5);
}

.div-jugador>h3 {
    font-size: 60px;
    line-height: 50px;
}

.div-jugador>h4 {
    font-size: 25px;
}

.div-jugador>p {
    font-size: 18px;
}

/*----------------------------------------------------  RESPONSIVE  -------------------------------------------------*/


@media (max-width: 800px) {
    #grilla {
        width: 22rem;
        height: 22rem;

        grid-template-columns: repeat(3, 7rem);
        grid-template-rows: repeat(3, 7rem);

    }
    .cuadrado{

        font-size: 90px;
        line-height: 105px;
    }

    #div-jugadores {
        gap: 2rem;
        scale: 0.7;
    }
}

@media (max-width: 450px) {
    #grilla {
        width: 19rem;
        height: 19rem;
        margin-bottom: 0px;
        grid-template-columns: repeat(3, 6rem);
        grid-template-rows: repeat(3, 6rem);

    }
    .cuadrado{

        font-size: 80px;
        line-height: 90px;
    }

    #div-jugadores {
        gap: 3rem;
        scale: 0.55;
    }
}