#espacio-whac {
    width: 80svw;
    min-width: 500px;
    max-width: 560px;
    height: 610px;
    background-image: url(../../assets/whacAMole/istockphoto-525876062-612x612.jpg);
    margin: 30px auto 0 auto;
    overflow: hidden;
}

#info-whac {
    width: 100%;
    background: linear-gradient(0deg, rgb(157, 200, 255) 67%, rgba(0,0,0,0) 100%); 
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#info-whac>li {
    color: var(--color-white);
    font-size: 22px;
    flex-basis: 110px;
}

#start-button {
    color: var(--color-dark);
    font-size: 26px;
    flex-basis: 200px;
}

/*      -----------------------------------------------------------  CIELO  -----------------------------------------------------       */


/* Cielo es el padre de glovo*/
#cielo {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}


/*      -----------------------------------------------------------  GLOVOS  -----------------------------------------------------       */

.glovo {
    position: absolute;
    bottom: -200px;
    animation: subir 3000ms linear;
    cursor: pointer;
    user-select: none; 
}

@keyframes subir {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-900px);
    }
}




/*----------------------------------------------------  RESPONSIVE  -------------------------------------------------*/

/*
@media (max-width: 600px) {
    #game_section{
        width: 100%;
        min-width: auto ;
    }
    #espacio-whac{
        scale: 0.8;
        margin: 0 auto;
        margin-top: -30px;
    }
}

@media (max-width: 500px) {
    #game_section{
        display: flex;
        align-items: center;
    }
    #espacio-whac{
        scale: 0.6;
        margin: 0 -15%;
        margin-top: -30px;
    }
}*/

@media (max-width: 600px) {
    #game_section{
        max-width: 100vw;
        min-width: auto ;
       
    }
    #espacio-whac{
        max-width: 100%;
    }
}
@media (max-width: 500px) {
    #game_section{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #espacio-whac{
        scale: 0.75;
        margin: 0 -15%;
        margin-top: -61px;
    }
}