#hero {
    width: 80vw;
    padding: 2rem 10vw;
    max-height: 90svh;
    height: 600px;
    display: flex;
    overflow: hidden;
}

#hero-text{
    padding-top: 1rem;
    width: 70%;
    font-size: 120px;
    text-align: center;
}

#hero-img {
    z-index: -1;
    width: 800px;
    rotate: 35deg;
    position: absolute;
    right: -10vw;
    opacity: 0.8;
}