#grilla-snake{
    width: 800px;
    height: 600px;
    margin: 1.5rem auto;
    display: grid;
    grid-template-columns: repeat(24, 1.5rem);
    grid-template-rows: repeat(16, 1.5rem);
    
    background-color: var(--color-1);
}
.snake-box {
    border: 1px solid black;
    background-color: var(--color-1) !important;
}